@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
}

/*Introduction Page*/

.header {
    position: relative; /* Ganti dari absolute ke relative */
    margin-top: 2%;
    margin-left: 3%;
}

.logo {
    position: absolute;
    margin-top: 0.8%;
    height: 70px;
    width: 60px;
}

.logo img {
    position: absolute;
    width: 60px;
    height: 70px;
    cursor: pointer;
}

.showText {
    position: absolute;
    margin-left: 70px; /* Sesuaikan agar tidak terlalu dekat dengan logo */
    margin-top: 0px;
    font-family: Oswald;
    font-size: 205%;
    opacity: 0; /* Set opacity awal ke 0 */
    transform: translateX(-20px); /* Pindahkan sedikit ke kiri */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transisi untuk opacity dan transform */
}

.logo:hover ~ .showText {
    opacity: 1; /* Ubah opacity menjadi 1 saat logo dihover */
    transform: translateX(0); /* Kembalikan posisi ke normal */
}

.name {
    position: absolute;
    margin-top: 13%;
    margin-left: 3%;
    font-size: 50px;
    font-family: Oswald;
    cursor: pointer;
    animation: slideLeft;
    animation-timeline: view();
}

@keyframes slideLeft {
    60%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-250px);
    }
}

.line{
    position: absolute;
    border: 2px solid black;
    width: 0px;
    margin-top: 19.5%;
    margin-left: 5%;
    opacity: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
    z-index: -1;
}

.name:hover + .line{
    opacity: 1;
    width: 500px;
}

.name:hover ~ .About{
    opacity: 1;
    transform: translateX(0px);
}

.name:hover ~ .About2{
    opacity: 1;
    transform: translateX(0px);
}

.name img {
    align-items: center;
    position: absolute;
    width: 140px;
    height: 140px;
    margin-top: 4%;
    margin-left: 6%;
    -webkit-animation: rotate-scale-up 2s linear infinite both;
	animation: rotate-scale-up 2s linear infinite both;
    z-index: 999999;
}

@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }

  .About{
    position: absolute;
    margin-top: 20.4%;
    margin-left: 5%;
    font-family: Oswald;
    font-size: 25px;
    opacity: 0;
    transform: translateX(-205px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .About2{
    position: absolute;
    margin-top: 26%;
    margin-left: 5%;
    font-family: Oswald;
    font-size: 25px;
    opacity: 0;
    transform: translateX(-205px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding-bottom: 60%;
    transition-delay: 0.1s;
  }

  .fotologo {
    position: absolute;
    margin-left: 65%;
    margin-top: 5%;
    animation: floating 2s ease-in-out infinite;
  }

  .fotologo img{
    position: absolute;
    height: 500px;
    width: 500px;
    rotate: -45deg;
  }

  @keyframes floating{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
  }

  /*Hobby Page*/

  .Title {
    position: absolute;
    margin-left: 70px;
    margin-top: 45%;
    font-family: Oswald;
    font-size: 40px;
    animation: slideRight   ;
    animation-timeline: view();
    cursor: pointer;
  }

  @keyframes slideRight {
    0%, 40% {
        opacity: 0;
        transform: translateX(-205px);
    }
  }

  .hobby, .hobby2 {
    position: absolute;
    margin-left: 5%;
    font-family: Oswald;
    font-size: 25px;
    opacity: 0;
    transform: translateX(-205px);
    transition: opacity 1s ease, transform 1s ease;
}

.hobby {
    margin-top: 51%;
}

.hobby2 {
    margin-top: 54.7%;
    transition-delay: 0.1s;
}

/* Ketika elemen terlihat di viewport */
.visible {
    opacity: 1;
    transform: translateX(0);
}
  


  .line2{
    position: absolute;
    border: 2px solid black;
    width: 0px;
    margin-top: 50%;
    margin-left: 5%;
    opacity: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
    z-index: -1;
}

.Title:hover + .line2{
    opacity: 1;
    width: 500px;
}

.poto {
  position: absolute;
  margin-top: 70%;
  margin-left: 5%;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 35px;
}

.poto img {
  border-radius: 35px;
  height: 384px;
  width: 683px;
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.poto img:hover {
  filter: blur(0px);
}

.poto img:hover + .icon img{
  opacity: 0;
}

.poto img:hover ~ .icon2 img{
  opacity: 0;
}

.poto2 img:hover +.icon3 img{
  opacity: 0;
}

.poto2 {
  position: absolute;
  margin-top: 70%;
  margin-left: 61.5%;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 35px;
}

.poto2 img {
  border-radius: 35px;
  height: 384px;
  width: 683px;
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.poto2 img:hover{
  filter: blur(0px);
}

.icon {
  position: absolute;
  right: 10%;
  bottom: 4%;
}

.icon img{
  height: 24px;
  width: 24px;
  filter: blur(0px);
}

.icon2 {
  position: absolute;
  right: 5%;
  bottom: 4%;
}

.icon2 img {
  height: 24px;
  width: 24px;
  filter: blur(0px);
}

.icon3 {
  position: absolute;
  right: 5%;
  bottom: 4%;
}

.icon3 img {
  height: 24px;
  width: 24px;
  filter: blur(0px);
}

/*Project Page*/

.container3 {
  padding-bottom: 145%;
}

.Judul {
  position: absolute;
  margin-left: 70px;
  margin-top: 100%;
  font-family: Oswald;
  font-size: 40px;
  cursor: pointer;
}

.line3{
  position: absolute;
  border: 2px solid black;
  width: 0px;
  margin-top: 103%;
  margin-left: 25%;
  opacity: 0;
  transition: opacity 0.3s ease, width 0.3s ease;
  z-index: -1;
}

.Judul:hover + .line3 {
  opacity: 1;
  width: 500px;
}

.Judul:hover ~ .link {
  opacity: 1;
}

.link {
  position: absolute;
  margin-left: 25%;
  margin-top: 101%;
  font-family: Oswald;
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.banner {
  position: absolute;
  margin-top: 123%;
  margin-left: 5%;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 35px;
}

.banner img {
  height: 384px;
  width: 683px;
  border-radius: 35px;
  filter: blur(10px);
  transition: filter 0.3s ease;
}

.banner2 {
  position: absolute;
  margin-top: 123%;
  margin-left: 61.5%;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 35px;
}

.banner2 img {
  height: 384px;
  width: 683px;
  border-radius: 35px;
  filter: blur(10px);
  transition: filter 0.3s ease;
}

.banner img:hover {
  filter: blur(0px);
}

.banner2 img:hover {
  filter: blur(0px);
}

.aboutProject {
  position: absolute;
  margin-left: 5%;
  margin-top: 106%;
  font-family: Oswald;
  font-size: 25px;
  transform: translateX(-205px);
  transition: opacity 1s ease, transform 1s ease;
}

.muncul {
  opacity: 1;
  transform: translateX(0);
}
  
  /* Tombol scroll ke atas */
.scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: rgb(243, 243, 243);
    border: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 16px 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}

.scroll-top:hover {
    border-color: rgb(243, 243, 243);
    box-shadow: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);
}

::-webkit-scrollbar-thumb {
    background: rgb(243, 243, 243);
    border-radius: 60px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(243, 243, 243);
}